* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(159, 111, 223);
  background-color: rgb(245, 226, 199);
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-form {
  text-align: center;
  border: 1px solid tan;
  border-radius: 15px;
  background-color: beige;

  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.header-form h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.container-form {
  border: 1px solid tan;
  border-radius: 15px;
  background-color: beige;

  width: 80%;
  margin: 0 0 40px 0;
  padding: 50px;
}

.data-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.data-form input[type="text"],
.data-form input[type="email"] {
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightslategrey;
  padding: 7px;
  font-size: 14px;
}

.data-form label {
  margin-bottom: 15px;
}

.data-form[type="text"]:invalid,
.data-form[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.race-choices {
  border-style: none;
  margin-bottom: 40px;
}

.race-choices legend {
  margin-bottom: 15px;
}

.race-choices .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.race-choices input[type="radio"] {
  margin-top: 2px;
}

.race-choices .radio-label,
.race-choices input[type="radio"] {
  float: left;
}

.data-form select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  -webkit-appearance: menulist;
  margin-bottom: 40px;
}

.data-form textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;

  border: 1px solid #d6d9dc;
  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.data-form instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

.data-form .checkbox-label {
  margin-bottom: 0;
}

.data-form button {
  font-size: 16px;
  font-weight: bold;

  color: #ffffff;
  background-color: #5995da;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.data-form button:hover {
  background-color: #76aeed;
}

.data-form button:active {
  background-color: #407fc7;
}

@media only screen and (min-width: 700px) {
  .header-form,
  .container-form {
    width: 600px;
  }

  .data-form {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .data-form input[type="text"],
  .data-form input[type="email"],
  .data-form select,
  .data-form textarea {
    width: 250px;
    height: initial;
  }

  .data-form label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .race-choices {
    margin-bottom: 10px;
  }

  .race-choices legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }

  .race-choices legend {
    float: left;
  }

  .data-form select {
    margin-top: 10px;
  }

  .data-form .instructions {
    margin-left: 120px;
    width: 280px;
  }

  .data-form .checkbox-label {
    margin-left: 120px;
    width: 280px;
  }

  .data-form button {
    margin-top: 20px;
    margin-left: 120px;
  }
}
